@use '../../styles/variables.scss' as variables;

.todo-list {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__headline {
        font-size: variables.$headline;
        margin-bottom: variables.$margin;
    }

    &__container {
        border-radius: 12px;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .highlighted {
        border: 2px solid variables.$border-color;
        opacity: 0.5;
    }
}