@use './variables.scss' as variables;
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
}

main {
    min-height: 100vh;
    padding: 0 variables.$large-margin;

    @media (max-width: 700px) {
            padding: 0;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 variables.$margin;
}

.main {
    &__container {
        padding: variables.$margin;
    }
}

