@use '../../styles/variables.scss' as variables;

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > *:not(:last-child) {
        margin-bottom: variables.$small-margin;
    }
    &__repo-info {
        display: flex;
    }

    &__work-area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: variables.$margin;
        flex-wrap: wrap;
        align-items: start;

        @media (max-width: 946px) and (min-width: 671px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 670px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}